.container {
  max-width: rem(1520px);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(15px);
}

.container_visa {
  max-width: rem(1140px);
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.btn {
  width: 100%;
  height: rem(50px);
  color: $orange_color;
  font-family: $Sansus_Webissimo;
  font-size: rem(20px);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: rem(0.8px);
  text-transform: uppercase;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s, color .4s;
  &:hover {
    background-color: $orange_color;
    color: #fff;
  }
}

//FRANCE TEXT
.france_text {
  text-indent: rem(20px);
  font-family: $Roboto;
  font-size: rem(20px);
  font-weight: 300;
  line-height: 1.7;
  b {
    font-family: $Sansus_Webissimo;
    font-weight: 400;
    letter-spacing: rem(0.8px);
    text-transform: uppercase;
  }
}

.main_title {
  color: #fefeff;
  font-family: $Sansus_Webissimo;
  font-size: rem(64px);
  font-weight: 400;
  letter-spacing: rem(2.56px);
}

.line {
  position: relative;
  width: rem(279px);
  height: rem(1px);
  background-color: $orange_color;
  span {
    position: absolute;
    left: rem(-5px);
    top: rem(-3px);
    width: rem(53px);
    height: rem(7px);
    border-radius: rem(4px);
    background-color: $orange_color;
  }
  //&:nth-child(2n+2) {
  //  span {
  //    right: rem(-5px);
  //  }
  //}
}

//contacts
.contacts_wrap {
  padding: rem(90px) rem(60px) rem(45px);
  background-color: #fff;
  max-width: rem(746px);
  width: 100%;
  position: relative;
  display: flex;
  .contacts_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .contacts_title {
      font-family: $Sansus_Webissimo;
      font-size: rem(30px);
      font-weight: 400;
      letter-spacing: 1.2px;
      color: $orange_color;
      text-align: center;
    }
    .contacts_description {
      color: $black_color;
      font-family: $Roboto;
      font-size: rem(20px);
      font-weight: 300;
      line-height: 1.8;
      text-align: center;
      margin-bottom: rem(28px);
    }
    .contacts_line {
      display: block;
      width: 100%;
      height: rem(1px);
      background-color: $orange_color;

    }
    .contacts_info {
      margin-top: rem(31px);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 rem(55px);
      .contacts_email, .contacts_phone {
        display: flex;
        flex-direction: column;
        a {
          font-family: $Sansus_Webissimo;
          color: $black_color;
          font-size: rem(20px);
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: rem(0.8px);
          span {
            color: $orange_color;
          }
        }

      }
    }
    .social {
      margin-top: rem(42px);
      display: flex;
      position: relative;
      align-items: center;
      margin-left: rem(50px);
      a {
        color: $orange_color;
        font-size: rem(25px);
        transition: transform .4s;
        &:hover {
          transform: scale(1.2);
        }
      }
      .btn {
        cursor: pointer;
        max-width: rem(357px);
        border: rem(1px) solid $orange_color;
        margin-left: rem(35px);
      }
    }
  }
}