.form_section {
  width: 100%;
  position: relative;
  padding: rem(70px) 0 rem(76px);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      color: $orange_color;
      font-family: $Sansus_Webissimo;
      font-size: rem(40px);
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: rem(1.6px);
      margin-bottom: rem(30px);
    }
    p {
      text-align: center;
      font-family: $Roboto;
      font-size: rem(20px);
      font-weight: 300;
      //line-height: 1.5;
      letter-spacing: rem(0.8px);
      margin-bottom: rem(40px);
    }
    form {
      max-width: rem(750px);
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      .btn {
        max-width: rem(360px);
        border: rem(1px) solid $orange_color;
      }
      input {
        max-width: rem(360px);
        width: 100%;
        border: none;
        border-bottom: rem(1px) solid #071947;
        color: #9c9c9c;
        font-family: $Roboto;
        font-size: rem(20px);
        font-weight: 300;
        line-height: 0.66;
        letter-spacing: rem(0.8px);
      }
    }
  }
}

//FEEDBACK
.feedback_section {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::before {
    @include before_fig(100%, 100%, #071947);
    opacity: 0.86;
    z-index: 1;
  }

  .parallax {
    position: absolute;
  }
  .feedback_content {
    padding: rem(130px) 0 rem(90px);
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: #ffffff;
      font-family: $Sansus_Webissimo;
      font-size: rem(40px);
      font-weight: 400;
      line-height: 0.75;
      letter-spacing: rem(1.6px);
      margin-bottom: rem(58px);
    }
    .feedback {
      margin-top: rem(100px);
      max-width: rem(950px);
      width: 100%;
      display: flex;
      background-color: transparent;
      flex-wrap: wrap;
      justify-content: space-between;
      input, textarea {
        max-width: rem(454px);
        height: rem(50px);
        width: 100%;
        background-color: transparent;
        border: none;
        margin-bottom: rem(30px);
        border-bottom: rem(1px) solid #7383a9;
        color: #d3d3d3;
        font-family: $Roboto;
        font-size: rem(20px);
        font-weight: 300;
        line-height: 1.5;
      }
      textarea {
        min-width: 100%;
        max-width: 100%;
        min-height: rem(85px);
        margin-bottom: rem(75px);
      }
    }
    .btn {
      max-width: rem(357px);
      background-color: transparent;
      border: rem(1px) solid $orange_color;
      margin: 0 auto;
      &:hover {
        background-color: $orange_color;

      }
    }
  }
}