.form_section {
  width: 100%;
  position: relative;
  padding: rem(70px) 0 rem(76px);
  .container {
    display: flex;
    justify-content: center;
    form {
      max-width: rem(750px);
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      h2 {
        color: $orange_color;
        font-family: $Sansus_Webissimo;
        font-size: rem(40px);
        font-weight: 400;
        line-height: 0.75;
        letter-spacing: rem(1.6px);
        margin-bottom: rem(30px);
      }
      p {
        font-family: $Roboto;
        font-size: rem(20px);
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: rem(0.8px);
        margin-bottom: rem(40px);
      }
      .form_inp {
        display: flex;
        justify-content: space-between;
        .btn {
          max-width: rem(360px);
          border: rem(1px) solid $orange_color;
        }
        input {
          max-width: rem(360px);
          width: 100%;
          border: none;
          border-bottom: rem(1px) solid #071947;
          color: #9c9c9c;
          font-family: $Roboto;
          font-size: rem(20px);
          font-weight: 300;
          line-height: 0.66;
          letter-spacing: rem(0.8px);
        }
      }

    }

  }
}