.hotel_booking {
  width: 100%;
  position: relative;
  background-color: #fafafa;
  padding: rem(100px) 0;
  .container {
    .hotel_booking_wrap {
      width: 100%;
      position: relative;
      .hotel_booking_elem {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        img {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;

        }
        .booking_content {
          position: relative;
          top: 0;
          left: 0;
          z-index: 2;
          width: 50%;
          background-color: rgba(8, 27, 76, .66);
          height: rem(447px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: rem(65px);
          overflow: hidden;
          &:hover {
            .line_block {
              i {
                opacity: 1;
                &:first-child {
                  width: 100%;
                }
                &:nth-child(2) {
                  height: 100%;
                }
                &:nth-child(3) {
                  height: 100%;
                }
                &:last-child {
                  width: 100%;
                }
              }
            }
          }

          .line_block {
            position: absolute;
            z-index: -1;
            top: rem(50px);
            width: 84%;
            height: rem(340px);
            background-color: transparent;
            i {
              display: block;
              transition: .5s;
              position: absolute;
              opacity: 0;
              background-color: #f0f0f0;
              height: rem(1px);
              &:first-child {
                left: 0;
                width: 0;
              }
              &:nth-child(2) {
                left: 0;
                top: 0;
                width: rem(1px);
                height: 0;
                transition-delay: .3s;
              }
              &:nth-child(3) {
                right: 0;
                width: rem(1px);
                height: 0;
                transition-delay: .3s;
              }
              &:last-child {
                bottom: 0;
                width: 0;
              }
            }
          }

          h2 {
            text-align: center;
            color: #ffffff;
            font-family: $Sansus_Webissimo;
            font-size: rem(35px);
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: rem(1.4px);
            margin-bottom: rem(30px);
          }
          p {
            text-align: center;
            color: #ffffff;
            font-family: $Sansus_Webissimo;
            font-size: rem(20px);
            font-weight: 400;
            line-height: 2;
            letter-spacing: 0.8px;
            margin-bottom: rem(30px);
          }
          .btn {
            max-width: rem(357px);
            background-color: transparent;
            border: rem(1px) solid $orange_color;
            //margin-bottom: rem(60px);
            &:hover {
              background-color: $orange_color;
            }
          }
        }
      }

    }
  }
}
