.main_section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  &::before {
    @include before_fig(100%, 100%, rgba(7, 25, 71, 0.75));
    z-index: 2;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(7, 25, 71, .75)), to(transparent));
    background: linear-gradient(0deg, rgba(7, 25, 71, .75), transparent)
  }
  .parallax {
    position: absolute;
  }
  .main_content-wrap {
    width: 100%;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    .main_content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      .main_title_item {
        position: relative;
        display: block;
        color: $orange_color;
        font-family: $Sansus_Webissimo;
        font-size: rem(64px);
        font-weight: 400;
        letter-spacing: rem(2.56px);
        &::before {
          @include before_fig(rem(88px), rem(1px), transparent);
          background-color: $orange_color;
          z-index: 1;
          left: 60px;
          top: 55%;
        }
        &::after {
          @include before_fig(rem(88px), rem(1px), transparent);
          z-index: 1;
          background-color: $orange_color;
          right: 60px;
          top: 55%;
        }
      }

      p {
        color: #ffffff;
        font-family: $Roboto;
        font-size: rem(25px);
        font-weight: 300;
        line-height: 1.63;
        letter-spacing: rem(0.88px);
        max-width: rem(865px);
        width: 100%;
      }

      .arrow_down {
        position: absolute;
        bottom: rem(70px);
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            align-self: center;
        font-size: rem(20px);
        color: $orange_color;
        -webkit-animation: arrowUp 2s infinite;
                animation: arrowUp 2s infinite;
        &::before {
          @include before_fig(rem(1px), rem(50px), #fff);
          top: rem(-50px);
        }
        a {
          width: rem(41px);
          height: (41px);
          border: rem(1px) solid #dadada;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
        }
      }
    }
  }
}

//@keyframes {
//
//}
