.menu {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #081b4c;
  position: fixed;
  top: -150%;
  left: 0;
  opacity: 0;
  transition: top .6s;
  &.active {
    opacity: 0.92;
    top: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .menu_wrap {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left_menu {
        width: 30%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .menu_elem {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          li {
            color: #fefefe;
            padding: rem(15px) 0;
            width: 100%;
            position: relative;
            height: auto;
            &:hover {
              color: $orange_color;
            }
            a {
              position: relative;
              display: block;
              letter-spacing: rem(0.96px);
              font-family: $Sansus_Webissimo;
              font-size: rem(24px);
              font-weight: 400;
              text-transform: uppercase;
              transition: color .4s;
            }
          }
          .menu_open {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .menu_right_btn {
              position: relative;
              font-size: rem(25px);
              color: #ffffff;
              margin-right: rem(10px);
              transition: color .4s, transform .4s;
            }
          }
        }
        .menu_logo {
          margin-top: rem(30px);
          max-width: rem(300px);
          height: rem(50px);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .right_menu {
        width: 35%;
        border: rem(1px) solid $orange_color;
        position: relative;
        padding: rem(65px) rem(45px);
        .right_menu_content {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .right_menu_text {
            text-align: center;
            color: #fefefe;
            font-family: $Sansus_Webissimo;
            font-size: rem(24px);
            font-weight: 400;
            letter-spacing: rem(0.96px);
          }
          h3 {
            margin-bottom: rem(30px);
          }
          p {
            text-align: center;
            color: #f4f4f4;
            font-family: $Roboto;
            font-size: rem(20px);
            font-weight: 300;
            margin-bottom: rem(30px);
          }
          .phone_menu {
            display: flex;
            flex-direction: column;
            max-width: rem(330px);
            width: 100%;
            border-bottom: rem(1px) solid $orange_color;
            .phone {
              margin-bottom: rem(20px);

            }
          }
          .social {
            margin-top: rem(20px);
            text-align: center;
            h4 {
              margin-bottom: rem(20px);
            }
          }
        }
      }
    }
  }
}