.visa_section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &::before {
    @include before_fig(100%, 100%, rgba(7, 25, 71, 0.75));
    z-index: 2;
    background: linear-gradient(0deg, rgba(7, 25, 71, .75), transparent)
  }
  .parallax {
    position: absolute;
  }
  .visa_usa_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 0 rem(15px);
    .visa_usa {
      position: relative;
      max-width: rem(1140px);
      width: 100%;
      padding: rem(40px) rem(80px);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
        color: #202532;
        font-family: $Sansus_Webissimo;
        font-size: rem(64px);
        font-weight: 400;
        letter-spacing: rem(2.56px);
        //margin-bottom: rem(20px);
      }
      h2 {
        text-align: center;
        color: #202532;
        font-family: $Sansus_Webissimo;
        font-size: rem(36px);
        font-weight: 400;
        margin-bottom: rem(30px);
        span {
          color: $orange_color;
        }
      }
      .consultation_visa {
        position: relative;
        width: 100%;
        padding: rem(20px);
        background-color: #f6f6f6;
        text-align: center;
        margin-bottom: rem(30px);
        p {
          color: #202532;
          font-family: $Roboto;
          font-size: rem(20px);
          font-weight: 300;
          line-height: 1.8;
        }
      }
    }
    .visa_usa_info {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: rem(60px);
      ul {
        max-width: rem(420px);
        width: 100%;
        li {
          position: relative;
          color: #202532;
          font-family: $Sansus_Webissimo;
          font-size: rem(20px);
          font-weight: 400;
          margin-bottom: rem(10px);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .visa_usa_form {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: rem(370px);
        width: 100%;
        input {
          height: rem(50px);
          border: none;
          border-bottom: rem(1px) solid #071947;
          font-family: $Roboto;
          font-size: rem(20px);
          font-weight: 300;
          line-height: 1;

        }
        .btn {
          border: rem(1px) solid $orange_color;
        }
      }
    }
  }
}

//PRICE SERVICES
.price_services {
  width: 100%;
  padding: rem(75px) 0 rem(100px);
  text-align: center;
  .services_title {
    position: relative;
    display: inline-block;
    color: $orange_color;
    font-family: $Sansus_Webissimo;
    font-size: rem(40px);
    font-weight: 400;
    line-height: 0.75;
    letter-spacing: 1.6px;
    margin-bottom: rem(45px);
    &::before {
      @include before_fig(rem(195px), rem(1px), $orange_color);
      bottom: rem(-10px);
      left: -40%;
    }
    &::after {
      @include before_fig(rem(195px), rem(1px), $orange_color);
      right: -40%;
      bottom: rem(-10px);
    }
  }
  p {
    color: #202532;
    font-family: $Roboto;
    font-size: rem(20px);
    font-weight: 300;
    line-height: 1.5;
  }
}

//VISA AMERICA
.visa_america {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  .parallax {
    position: absolute;
  }
  .visa_america_wrap {
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    .america_content {
      position: relative;
      width: 100%;
      background-color: #1a2b55;
      .container_visa {
        .btn_form {
          display: none;
        }
      }
      h2 {
        color: #ffffff;
        font-family: $Sansus_Webissimo;
        font-size: rem(41px);
        font-weight: 400;
        line-height: 1.39;
        text-transform: uppercase;
        max-width: rem(650px);
        width: 100%;
        flex: 1 1 30%;
        padding: rem(80px) 0;
        letter-spacing: rem(2.2px);
        span {
          color: $orange_color;
          font-size: rem(55px);

        }
      }
      .america_form {
        position: absolute;
        top: rem(-70px);
        right: 0;
        z-index: 4;
        max-width: rem(470px);
        width: 100%;
        padding: rem(100px) rem(55px);
        background-color: #fff;
        h3 {
          text-align: center;
          color: $orange_color;
          font-family: "Sansus Webissimo";
          font-size: rem(26px);
          font-weight: 400;
          line-height: 1.15;
          text-transform: uppercase;
          letter-spacing: rem(1.04px);
          margin-bottom: rem(40px);
        }
        .america_feedback {
          position: revert;
          display: flex;
          flex-direction: column;
          justify-content: center;
          input {
            max-width: rem(336px);
            width: 100%;
            border: none;
            border-bottom: rem(1px) solid #8c8c8c;
            height: rem(50px);
            color: #8c8c8c;
            font-family: $Roboto;
            font-size: rem(20px);
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: rem(0.8px);
            margin-bottom: rem(20px);
          }
          .btn {
            margin-top: rem(30px);
            border: rem(1px) solid $orange_color;
          }
        }
      }
    }
  }
}

//AMERICA VISA PRICE
.america_visa_price {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: rem(90px) 0;
  .container_visa {
    .america_price_content {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .price_block {
        max-width: rem(460px);
        width: 100%;
        position: relative;
        background-color: #63a9da;
        padding: rem(80px) rem(50px) rem(50px);
        display: flex;
        flex-direction: column;
        text-align: center;
        h4 {
          align-self: center;
          max-width: rem(290px);
          width: 100%;
          color: #ffffff;
          font-family: $Sansus_Webissimo;
          font-size: rem(40px);
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 1.6px;
          margin-bottom: rem(15px);
        }
        p {
          color: #ffffff;
          font-family: $Roboto;
          font-size: rem(22px);
          font-weight: 300;
          line-height: 1.6;
          letter-spacing: rem(0.88px);
          align-self: center;
        }
      }
      .price_list {
        position: relative;
        ul {
          li {
            color: #202532;
            font-family: $Roboto;
            font-size: rem(22px);
            font-weight: 300;
            line-height: 1.6;
            letter-spacing: 0.88px;
            margin: 0 0 rem(10px) rem(60px);
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
